/* ------------------ 
  Fluid text styles
------------------ */

@layer utilities {
  /* Font Size */

  .text-fl-100 {
    font-size: fluid(12px, 15px, toRem);
  }

  .text-fl-200 {
    font-size: fluid(13px, 16px, toRem);
  }

  .text-fl-300 {
    font-size: fluid(15px, 18px, toRem);
  }

  .text-fl-400 {
    font-size: fluid(18px, 21px, toRem);
  }

  .text-fl-500 {
    font-size: fluid(21px, 24px, toRem);
  }

  .text-fl-600 {
    font-size: fluid(26px, 38px, toRem);
  }

  .text-fl-700 {
    font-size: fluid(37px, 52px, toRem);
    line-height: 1.1;
  }

  .text-fl-800 {
    font-size: fluid(44px, 62px, toRem);
    line-height: 1.1;
  }

  /* Vertical Rhythm */

  .my-fl-40 {
    margin-block: fluid(80px, 120px, toRem);
  }
  
}
