/* ------------------ 
  Fluid text styles
------------------ */

@layer utilities {
  /* Font Size */

  .text-fl-50 {
    font-size: 12px;
  }

  .text-fl-100 {
    font-size: fluid(14px, 15px, toRem);
  }

  .text-fl-200 {
    font-size: fluid(15px, 16px, toRem);
  }

  .text-fl-300 {
    font-size: fluid(17px, 18px, toRem);
  }

  .text-fl-400 {
    font-size: fluid(19px, 21px, toRem);
  }

  .text-fl-500 {
    font-size: fluid(21px, 24px, toRem);
  }

  .text-fl-600 {
    font-size: fluid(27px, 38px, toRem);
  }

  .text-fl-700 {
    font-size: fluid(40px, 52px, toRem);
    line-height: 1.1;
  }

  .text-fl-800 {
    font-size: fluid(50px, 62px, toRem);
    line-height: 0.9;
  }

  /* Vertical Rhythm - Named using largest setting in TW units (1rem = 4TW units) */

  .pb-fl-10 {
    padding-bottom: fluid(40px, 80px, toRem);
  }

  .mt-fl-24 {
    margin-top: fluid(58px, 96px, toRem);
  }

  .my-fl-30 {
    margin-block: fluid(80px, 120px, toRem);
  }

  .py-fl-30 {
    padding-block: fluid(80px, 120px, toRem);
  }

  .gap-fl-y-49 {
    row-gap: fluid(132px, 224px, toRem);
  }

  .mb-fl-49 {
    margin-bottom: fluid(132px, 224px, toRem);
  }

}
