---
import MockupRowanDT from './MockupRowanDT.astro';
import MockupRowanListings from './MockupRowanListings.astro';
import MockupRowanMob from './MockupRowanMob.astro';
---

<div class="[ flex items-start ][ mt-32 ]">
  <MockupRowanMob className="[ mt-[-5%] mr-[2%] ]" />
  <MockupRowanDT />
  <MockupRowanListings className="[ mt-[8.4%] ml-[-2%] ]" />
</div>
