---
const { borderRadius, className } = Astro.props;
---

<div class=`[ border border-[#dbdbdb] rounded-[${borderRadius ?? '10px'}] shadow-browser ][ overflow-hidden ] ${className ? className : ''}`>
  <slot />
</div>

<style>
  .shadow-browser {
    box-shadow: 0px 4.34511px 3.25883px rgba(73, 77, 86, 0.04), 0px 8.69021px 5.43138px rgba(73, 77, 86, 0.03),
      0px 19.8564px 99.2818px rgba(73, 77, 86, 0.03);
  }
</style>
