---
import kimbaLogo from '../images/ui/kimba-logo.svg';
import Button from './UI/Button.astro';
import Icon from 'astro-icon';
---

<header class="relative || flex justify-between items-baseline || w-full min-h-[36px] px-6 mt-8">
  <a href="/">
    <img src={kimbaLogo} width="100" height="26" alt="Kimba Design" />
    <span class="sr-only">Kimba</span>
  </a>

  <nav class="flex space-x-8 items-center">
    <div id="header-nav" class="hidden || fixed z-20 || inset-0 flex flex-col items-center justify-center space-y-8 || bg-chalk bg-opacity-90 animated fade-out || text-fl-400">
      <a class="mt-[-1rem] md:mt-[-8vh] || hover:text-gray-700" href="/">Home</a>
      <a class="hover:text-gray-700" href="/posts">Blog</a>
      <Button className="max-md:button--sm" href="#footer">Contact</Button>
    </div>
  </nav>

  <div class="flex items-center || z-30">
    <button id="header-nav-button"  aria-label="Toggle Navigation">
      <Icon id="header-nav-button__icon-open" class="w-[21px]" name="icon-menu" />
      <Icon id="header-nav-button__icon-closed" class="hidden || w-[21px]" name="icon-x" />
    </button>
  </div>
</header>

<script>
  const headernav = document.getElementById('header-nav');
  const headernavButton = document.getElementById('header-nav-button');
  const headernavButtonOpen = document.getElementById('header-nav-button__icon-open');
  const headernavButtonClosed = document.getElementById('header-nav-button__icon-closed');

  headernavButton.addEventListener('click', toggleNav);
  headernav.addEventListener('click', toggleNav);

  function toggleNav() {
    headernav.classList.toggle('hidden');
    headernav.classList.toggle('fade-out');
    headernav.classList.toggle('fade-in');
    headernavButtonOpen.classList.toggle('hidden');
    headernavButtonClosed.classList.toggle('hidden');
  }
</script>

<style>
  .animated {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    backdrop-filter: blur(3px);
  }

  .fade-out {
    animation-name: fadeOut;
  }

  .fade-in {
    animation-name: fadeIn;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
