---
import kimbaLogo from '../images/ui/kimba-logo.svg';
---

<header class="relative || flex justify-between items-center || w-full px-6 pt-8">
  <a href="/">
    <img src={kimbaLogo} width="92" height="24" alt="Kimba Design">
    <span class="sr-only">Kimba</span>
  </a>

  <div>
    <button id="header-menu-button">              
      <svg id="header-menu-button__icon-open" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#3E4251" d="M0 2h18v2H0zM0 8h18v2H0zM0 14h18v2H0z"/></svg>
      <svg id="header-menu-button__icon-closed" class="hidden" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#3E4251" d="M1.93 14.657 14.656 1.929l1.414 1.414L3.343 16.071z"/><path fill="#454342" d="m3.343 1.929 12.728 12.728-1.414 1.414L1.929 3.343z"/></svg>
    </button>
  </div>
</header>