---
const { className } = Astro.props;
---

<a href="https://www.websitecarbon.com" class=`relative || group bg-[#fafafa] || leading-none || ${className}`>
  <figure class="flex flex-col items-center space-y-2 || text-fl-50">
    <div class="flex || border border-gray-400 group-hover:border-gray-700 rounded-[5px]">
      <p class="px-2 py-2 || leading-none text-gray-400">0.04g of C02/view</p>
      <p class="px-2 py-2 || bg-gray-400 group-hover:bg-gray-700 || text-chalk font-bold leading-none">Website Carbon</p>
    </div>
    <figcaption class="absolute bottom-[-68%]">Cleaner than 96% of pages tested</figcaption>
  </figure>
</a>
