---
import MockupRowanDT from './MockupRowanDT.astro';
import MockupRowanListings from './MockupRowanListings.astro';
import MockupRowanMob from './MockupRowanMob.astro';
---

<div class="flex items-start || mt-32">
  <MockupRowanMob className="hidden sm:block || mt-[-5%] mr-[2%]" />
  <MockupRowanDT />
  <MockupRowanListings className="hidden sm:block || sm:mt-[8.4%] sm:ml-[-2%]" />
</div>
