---
import MockupRowanDT from './MockupRowanDT.astro';
import MockupRowanListings from './MockupRowanListings.astro';
import MockupRowanMob from './MockupRowanMob.astro';
---

<div class="sm:flex sm:items-start || w-full mt-8 md:mt-16">
  <MockupRowanMob className="sm:basis-[404px] || hidden sm:block || mt-[-5%] mr-[2%]" />
  <MockupRowanDT className="sm:basis-[1656px]" />
  <MockupRowanListings className="sm:basis-[600px] || hidden sm:block || sm:mt-[8.4%] sm:ml-[-2%]" />
</div>
