---
// See styles/components/button.css
const { href, className, id } = Astro.props;
---

{
  href && (
    <a href={href} class={`button ${className ? className : ''}`}>
      <slot />
    </a>
  )
}

{/* If no href then button with script (which is found with component that called it) */}
{
  !href && (
    <button id={id} href={href} class={`button ${className ? className : ''}`}>
      <slot />
    </button>
  )
}
